node-RED/Flow1.json
[
    {
        "id": "97f88d35.50ec2",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "38943037.5b8b4",
        "type": "ibmiot in",
        "z": "97f88d35.50ec2",
        "authentication": "apiKey",
        "apiKey": "YOUR_APIKEY",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Bluetooth device",
        "service": "registered",
        "allDevices": true,
        "allApplications": true,
        "allDeviceTypes": true,
        "allLogicalInterfaces": false,
        "allEvents": true,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 100,
        "y": 380,
        "wires": [
            [
                "574f6eb0.71627",
                "f13ceec7.514ed"
            ]
        ]
    },
    {
        "id": "574f6eb0.71627",
        "type": "debug",
        "z": "97f88d35.50ec2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload.d",
        "x": 320,
        "y": 440,
        "wires": []
    },
    {
        "id": "40939768.f826f8",
        "type": "inject",
        "z": "97f88d35.50ec2",
        "name": "App Init",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "90cb1452.9644a"
            ]
        ]
    },
    {
        "id": "90cb1452.9644a",
        "type": "function",
        "z": "97f88d35.50ec2",
        "name": "Context Init",
        "func": "\n   // bluetooth related\ncontext.global.bttime=0;\ncontext.global.rssimin=-5;\ncontext.global.rssi=-50;\ncontext.global.inBeacon=false;\n     \n// Timer related\ncontext.global.lastCmd=\"off\";\ncontext.global.lastSwitch=0;\ncontext.global.delay=1*1000; // 30 secs \n \nmsg.payload=\"App initialized\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 269,
        "y": 200,
        "wires": [
            [
                "818c9e8e.400fd8"
            ]
        ]
    },
    {
        "id": "818c9e8e.400fd8",
        "type": "debug",
        "z": "97f88d35.50ec2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 449,
        "y": 200,
        "wires": []
    },
    {
        "id": "c818f600.7903d",
        "type": "inject",
        "z": "97f88d35.50ec2",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "2a12d0a3.d22278"
            ]
        ]
    },
    {
        "id": "f13ceec7.514ed",
        "type": "function",
        "z": "97f88d35.50ec2",
        "name": "RSSI Mgmt",
        "func": "context.global.rssi=msg.payload.d.rssi\ncontext.global.inBeacon=context.global.rssi>context.global.rssimin;\n\nreturn msg;",
        "outputs": "2",
        "noerr": 0,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "2a12d0a3.d22278"
            ],
            []
        ],
        "outputLabels": [
            "msg",
            "dbg"
        ]
    },
    {
        "id": "2a12d0a3.d22278",
        "type": "function",
        "z": "97f88d35.50ec2",
        "name": "Switch Action",
        "func": "//\n// determine when to send a switch command\n// A command is sent when a grace period has \n// expired since last switch (to protect the\n// appliance) and if the state of the appliance \n// is to be changed\nnow = Date.now();\ndbg={ payload:\"\"};\nvar cmd=(context.global.inBeacon)? \"on\": \"off\";\nif (now - context.global.lastSwitch > context.global.delay && context.global.lastCmd != cmd) {\n // we need to switch now\n context.global.lastSwitch=now;\n context.global.lastCmd=cmd;\n msg.payload=cmd;\n msg.format=\"text\";\n dbg.payload=\"switch appliance '\"+cmd+\"'\";\n} else {\n msg=null\n dbg.payload=\"Appliance is currently \" + context.global.lastCmd + \". Not switching to \" + cmd + \" because delay is elapsed \" + (now - context.global.lastSwitch > context.global.delay) + \" and the state is different \" + (context.global.lastCmd != cmd);\n //dbg.payload=\"context.global.inBeacon=\"+context.global.inBeacon+ \" context.globalinFence=\"+context.global.inFence;\n}\nreturn [ msg, dbg ];",
        "outputs": "2",
        "noerr": 0,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "163dee7c.9e8932"
            ],
            [
                "dd4bd0be.af97f8"
            ]
        ],
        "outputLabels": [
            "msg",
            "dbg"
        ]
    },
    {
        "id": "163dee7c.9e8932",
        "type": "ibmiot out",
        "z": "97f88d35.50ec2",
        "authentication": "apiKey",
        "apiKey": "YOUR_APIKEY",
        "outputType": "cmd",
        "deviceId": "lorenzosRPI",
        "deviceType": "carproximity",
        "eventCommandType": "switch",
        "format": "text",
        "data": "on",
        "qos": 0,
        "name": "Appliance cmd",
        "service": "registered",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "dd4bd0be.af97f8",
        "type": "debug",
        "z": "97f88d35.50ec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "451b8ce.15aee74",
        "type": "http in",
        "z": "97f88d35.50ec2",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "c32b239c.98da88"
            ]
        ]
    },
    {
        "id": "c32b239c.98da88",
        "type": "function",
        "z": "97f88d35.50ec2",
        "name": "Add global as payload",
        "func": "msg.payload=context.global;\nmsg.payload.jt=Date.now();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "62e33bb3.2c957c"
            ]
        ]
    },
    {
        "id": "62e33bb3.2c957c",
        "type": "http response",
        "z": "97f88d35.50ec2",
        "name": "Get Response",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "4c922b54.9ae4fc",
        "type": "http in",
        "z": "97f88d35.50ec2",
        "name": "",
        "url": "/status",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "cff36fdc.72ce"
            ]
        ]
    },
    {
        "id": "cff36fdc.72ce",
        "type": "function",
        "z": "97f88d35.50ec2",
        "name": "update globals",
        "func": "// modify parameters as they exists in msg.payload\nif (msg.payload.rssimin) context.global.rssimin=msg.payload.rssimin;\nmsg.payload=context;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "351b5048.eb7178"
            ]
        ]
    },
    {
        "id": "351b5048.eb7178",
        "type": "http response",
        "z": "97f88d35.50ec2",
        "name": "Post Response",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "8415497.03fdeb8",
        "type": "ibmiot",
        "z": "",
        "name": "carhome-IOT-v2",
        "keepalive": "60",
        "serverName": "2g2cm1.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "carhomeApp",
        "shared": true
    }
]